In [28]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from encodings.aliases import aliases

%matplotlib inline

In [29]:
# Read csv file and remove duplicates

alias_values = set(aliases.values())

for encoding in set(aliases.values()):
    try:
        df=pd.read_csv('data/la-crime-data.csv', nrows=10, encoding=encoding)
        print('successful', encoding)
    except:
        pass

successful cp949
successful shift_jisx0213
successful cp865
successful mac_roman
successful cp1253
successful iso8859_4
successful mac_turkish
successful cp775
successful koi8_r
successful cp1256
successful big5
successful euc_jisx0213
successful cp273
successful johab
successful cp863
successful cp932
successful gb2312
successful mac_greek
successful cp852
successful cp500
successful cp037
successful shift_jis_2004
successful cp869
successful cp1026
successful cp1255
successful iso8859_10
successful iso2022_jp_3
successful cp864
successful cp1251
successful cp861
successful hz
successful ascii
successful iso2022_jp
successful cp855
successful iso8859_16
successful cp857
successful iso8859_6
successful mac_cyrillic
successful cp862
successful iso8859_11
successful cp437
successful cp1258
successful iso8859_2
successful mac_iceland
successful utf_7
successful cp1140
successful iso8859_15
successful mac_latin2
successful iso2022_jp_ext
successful iso2022_kr
successful kz1048
successful iso2022_jp_1
successful iso8859_3
successful cp866
successful iso8859_7
successful iso8859_8
successful hp_roman8
successful cp860
successful cp1250
successful tis_620
successful cp1257
successful cp858
successful euc_jp
successful iso2022_jp_2004
successful cp950
successful iso8859_13
successful cp1254
successful cp1125
successful iso8859_14
successful cp850
successful euc_kr
successful gbk
successful shift_jis
successful euc_jis_2004
successful big5hkscs
successful cp1252
successful latin_1
successful iso2022_jp_2
successful utf_8
successful ptcp154
successful iso8859_9
successful gb18030
successful iso8859_5

In [30]:
# Read the dataset and select the timestamp as an index
crime=pd.read_csv('data/la-crime-data.csv', encoding='iso8859_11')

In [31]:
# Check the amount of rown and columns in the dataset
crime.shape

(798242, 28)

In [32]:
# Count the duplicate rows in the dataset
crime.duplicated().sum()

0

## Explore the dataset

In [33]:
crime.head()

,DR_NO,Date_Rptd,DATE_OCC,TIME_OCC,AREA,AREA_NAME,Rpt Dist No,Part_1-2,Crm_Cd,Crm_Cd_Desc,...,Status,Status_Desc,Crm Cd 1,Crm_Cd_2,Crm_Cd_3,Crm_Cd_4,LOCATION,Cross_Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [34]:
crime.tail()

,DR_NO,Date_Rptd,DATE_OCC,TIME_OCC,AREA,AREA_NAME,Rpt Dist No,Part_1-2,Crm_Cd,Crm_Cd_Desc,...,Status,Status_Desc,Crm Cd 1,Crm_Cd_2,Crm_Cd_3,Crm_Cd_4,LOCATION,Cross_Street,LAT,LON
798237,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
798238,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
798239,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
798240,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
798241,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

In [35]:
# Dataframe summary information
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798242 entries, 0 to 798241
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           798242 non-null  int64
 1   Date_Rptd       798242 non-null  object
 2   DATE_OCC        798242 non-null  object
 3   TIME_OCC        798242 non-null  int64
 4   AREA            798242 non-null  int64
 5   AREA_NAME       798242 non-null  object
 6   Rpt Dist No     798242 non-null  int64
 7   Part_1-2        798242 non-null  int64
 8   Crm_Cd          798242 non-null  int64
 9   Crm_Cd_Desc     798242 non-null  object
 10  Mocodes         688290 non-null  object
 11  Vict_Age        798242 non-null  int64
 12  Vict_Sex        693589 non-null  object
 13  Vict_Descent    693581 non-null  object
 14  Premis_Cd       798233 non-null  float64
 15  Premis_Desc     797770 non-null  object
 16  Weapon_Used_Cd  277895 non-null  float64
 17  Weapon_Desc     277895 non-null  object
 18  Status          798242 non-null  object
 19  Status_Desc     798242 non-null  object
 20  Crm Cd 1        798232 non-null  float64
 21  Crm_Cd_2        58822 non-null   float64
 22  Crm_Cd_3        1960 non-null    float64
 23  Crm_Cd_4        57 non-null      float64
 24  LOCATION        798242 non-null  object
 25  Cross_Street    127856 non-null  object
 26  LAT             798242 non-null  float64
 27  LON             798242 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 170.5+ MB

In [46]:
# Summary information on the colums
crime.columns

Index(['DR_NO', 'Date_Rptd', 'TIME_OCC', 'AREA', 'AREA_NAME', 'Rpt Dist No',
       'Part_1-2', 'Crm_Cd', 'Crm_Cd_Desc', 'Mocodes', 'Vict_Age', 'Vict_Sex',
       'Vict_Descent', 'Premis_Cd', 'Premis_Desc', 'Weapon_Used_Cd',
       'Weapon_Desc', 'Status', 'Status_Desc', 'Crm Cd 1', 'Crm_Cd_2',
       'Crm_Cd_3', 'Crm_Cd_4', 'LOCATION', 'Cross_Street', 'LAT', 'LON'],
      dtype='object')

In [48]:
# Check dataframe for whether or not values are missing in columns
crime.isnull()

,DR_NO,Date_Rptd,TIME_OCC,AREA,AREA_NAME,Rpt Dist No,Part_1-2,Crm_Cd,Crm_Cd_Desc,Mocodes,...,Status,Status_Desc,Crm Cd 1,Crm_Cd_2,Crm_Cd_3,Crm_Cd_4,LOCATION,Cross_Street,LAT,LON
DATE_OCC,,,,,,,,,,,,,,,,,,,,,
2020-01-08,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2020-01-01,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2020-02-13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2020-01-01,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,False,False
2020-01-01,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2023-03-22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2023-04-12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2023-07-01,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2023-03-05,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False

In [52]:
# Get columns for missing values
crime.columns[np.sum(crime.isnull())!=0]

Index(['Mocodes', 'Vict_Sex', 'Vict_Descent', 'Premis_Cd', 'Premis_Desc',
       'Weapon_Used_Cd', 'Weapon_Desc', 'Crm Cd 1', 'Crm_Cd_2', 'Crm_Cd_3',
       'Crm_Cd_4', 'Cross_Street'],
      dtype='object')

In [53]:
# Get columns with no missing values
crime.columns[np.sum(crime.isnull())==0]

Index(['DR_NO', 'Date_Rptd', 'TIME_OCC', 'AREA', 'AREA_NAME', 'Rpt Dist No',
       'Part_1-2', 'Crm_Cd', 'Crm_Cd_Desc', 'Vict_Age', 'Status',
       'Status_Desc', 'LOCATION', 'LAT', 'LON'],
      dtype='object')

In [55]:
# Check for number of unique values in columns
for col in crime.columns:
    unique_count = crime[col].nunique()
    print(col+"has"+str(unique_count)+"unique values")

DR_NOhas798242unique values
Date_Rptdhas1350unique values
TIME_OCChas1439unique values
AREAhas21unique values
AREA_NAMEhas21unique values
Rpt Dist Nohas1202unique values
Part_1-2has2unique values
Crm_Cdhas138unique values
Crm_Cd_Deschas138unique values
Mocodeshas267117unique values
Vict_Agehas103unique values
Vict_Sexhas5unique values
Vict_Descenthas20unique values
Premis_Cdhas312unique values
Premis_Deschas306unique values
Weapon_Used_Cdhas79unique values
Weapon_Deschas79unique values
Statushas6unique values
Status_Deschas6unique values
Crm Cd 1has140unique values
Crm_Cd_2has122unique values
Crm_Cd_3has36unique values
Crm_Cd_4has6unique values
LOCATIONhas63345unique values
Cross_Streethas9589unique values
LAThas5397unique values
LONhas4967unique values